<div class="row d-md-flex min-vh-100 min-vw-100">
  <div class="col col-12 col-md-4 left-container"></div>
  <div class="col col-12 col-md-8 py-5">
    <div class="row d-md-flex registration-card">
      <div class="col-sm-12 col-md-4 registration-card-left d-none d-sm-block
                  text-center d-md-flex align-items-end rounded-left">
        <%= image_tag "avatar.svg", class: "tea-cup-registration" %>
      </div>
      <div class="col-sm-12 col-md-8 registration-card-right p-4 px-sm-5 pt-sm-5 pb-sm-2 rounded-right">
        <h2 class="pb-4 text-center text-md-left">
          Resend confirmation instructions
        </h2>
        <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        label: false,
                        autofocus: true,
                        placeholder: '✉️ email@domain.com',
                        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions mb-5">
            <%= f.button :submit, "Resend confirmation instructions", class: 'btn btn-dark btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
